/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* variáveis css */
:root {
  --bg-color: #2b193f;
  --bg-color-02: #05060769;
  --color-1: #c2b9d2;
  --color-2: rgb(0, 255, 145);
  --color-3: rgb(255, 0, 81);
  /* spaces */
  --sp-20: 1.25rem; /*20px */
  --sp-30: 1.875rem; /*30px */
  --sp-40: 2.5rem; /*40px */
  --sp-10: 0.625rem; /*10px*/

  --br-1: 15px;
  --br-2: 20px;

  /* typography */
  --fz-1: 1.438rem; /*23px*/
  --fz-2: 1.125rem; /*18px*/
  --fz-3: 0.813rem; /*13px*/
  --fz-4: 0.5rem; /*8px*/
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
  font-family: "Fira Code", monospace;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 360px;
  height: 100%;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: var(--sp-20);
  padding: var(--sp-20);
}

.header {
  width: 100%;
  height: 40px;
  margin-bottom: var(--sp-20);
  display: flex;
  align-items: flex-end;
}
.header > h1 {
  color: var(--color-1);
  font-size: var(--fz-1);
}

.content__total {
  width: 100%;
  height: 160px;

  border-radius: var(--br-1);
  padding: var(--sp-20) var(--sp-10);
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-image: linear-gradient(
    to top right,
    rgba(255, 135, 7, 0.761),
    rgba(109, 5, 255, 0.707),
    var(--color-1)
  );
  backdrop-filter: blur(10px);
}
.total__title {
  color: var(--color-1);
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--fz-2);
}

.content__total .balance {
  color: var(--color-1);
}

/* content-transactions */
.content__transactions {
  margin-top: var(--sp-30);
  border-top: 1px solid rgba(128, 128, 128, 0.234);
  padding: var(--sp-20) 0;
}

.content__transactions .transaction__title {
  color: var(--color-1);
}
.inc-exp-container {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: var(--br-2);
  margin-top: var(--sp-10);
  background-color: var(--bg-color-02);
}
.inc-exp-container .card__money {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inc-exp-container > .card__money:first-child {
  border-right: 1px solid var(--color-1);
}

.card__money,
.plus,
.minus {
  font-size: var(--fz-3);
}
.plus {
  color: var(--color-2);
}
.minus {
  color: var(--color-3);
}

.transactions {
  background-color: var(--bg-color-02);
  margin-top: var(--sp-10);
  border-top-left-radius: var(--br-1);
  border-top-right-radius: var(--br-1);
  padding: var(--sp-10);
}

.transactions > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--sp-10);
}
.transactions > li > span {
  width: 50%;
  text-align: end;
}

.transactions > li > span > button{
  background-color: transparent;
  border: 1px solid var(--color-1);
  color: var(--color-1);
  width: 30px;
  height: 100%;
  cursor: pointer;
}


.transactions > li > span > button:hover {
  
  border: 1px solid var(--color-3);
  background-color: var(--color-3);
  width: 30px;
  height: 100%;
  cursor: pointer;
}
